In [1]:
import pandas as pd

First download the data from FAO website: https://www.fao.org/faostat/en/#data/QCL and save it under `AFOLU/pop_lvst_data_raw`

In [6]:
df = pd.read_csv('AFOLU/pop_lvst_data_raw/FAOSTAT_data_en_10-4-2024.csv')
df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2132.0,Asses,2011,2011,An,1466000,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2132.0,Asses,2012,2012,An,1423000,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2132.0,Asses,2013,2013,An,1451000,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2132.0,Asses,2014,2014,An,1441000,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5111,Stocks,2132.0,Asses,2015,2015,An,1481000,A,Official figure,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21419 entries, 0 to 21418
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       21419 non-null  object
 1   Domain            21419 non-null  object
 2   Area Code (M49)   21419 non-null  int64
 3   Area              21419 non-null  object
 4   Element Code      21419 non-null  int64
 5   Element           21419 non-null  object
 6   Item Code (CPC)   21419 non-null  float64
 7   Item              21419 non-null  object
 8   Year Code         21419 non-null  int64
 9   Year              21419 non-null  int64
 10  Unit              21419 non-null  object
 11  Value             21419 non-null  int64
 12  Flag              21419 non-null  object
 13  Flag Description  21419 non-null  object
 14  Note              220 non-null    object
dtypes: float64(1), int64(5), object(9)
memory usage: 2.5+ MB

In [9]:
df.Item.unique()

array(['Asses', 'Camels', 'Cattle', 'Chickens', 'Goats', 'Horses',
       'Mules and hinnies', 'Sheep', 'Bees', 'Buffalo', 'Ducks', 'Geese',
       'Swine / pigs', 'Turkeys', 'Rabbits and hares', 'Other camelids',
       'Other rodents'], dtype=object)

We want to create data input data for sisepuede for the following animals: cattle_dairy, cattle_nondairy, chickens, goats, horses, mules, asses